* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  /* font-family: 'Prompt', sans-serif; */
  font-family: 'Edu VIC WA NT Beginner', cursive;
  box-sizing: border-box;
}

.header {
  text-align: center;
  position: fixed;
  overflow: hidden;
  width: 100%;
  background-color: #fff;
  top: 0;
  z-index: 9;
}

.header img {
  width: 5rem;
  padding-bottom: 2rem;
}

.content {
  display: flex;
  margin-top: 10rem;
}

.content .img {
  position: relative;
  /* margin: 2rem ; */
}

.content .img .splide img {
  width: 100%;
}

.splide {
  max-width: 50%;
  margin: 3rem auto;
  margin-top: 10rem;
}

.info {
  font-size: 2rem;
  margin-top: 1.5rem;
}

.info__in4 {
  line-height: 3.5rem;
  font-size: 1.5rem;
}

.buy .buy__select {
  display: flex;
  margin-top: 2rem;
}

.select__size {
  margin-right: 20rem;
}

#size {
  margin-top: 1rem;
  background-color: #fff;
  font-size: 2rem;
  border-radius: 1.5rem;
  font-family: 'Edu VIC WA NT Beginner', cursive;
}

#type {
  margin-top: 1rem;
  background-color: #fff;
  font-size: 2rem;
  border-radius: 1.5rem;
  font-family: 'Edu VIC WA NT Beginner', cursive;
}

.button_added {
  opacity: 1;
  display: inline-block;
  display: -ms-inline-flexbox;
  display: inline-flex;
  white-space: nowrap;
  vertical-align: top;
}

.btt {
  border-radius: 4px;
  background: #212529;
  color: #fff;
  padding: 7px 45px;
  display: inline-block;
  margin-top: 20px;
  border: solid 2px #212529;
  transition: all 0.5s ease-in-out 0s;
  font-family: 'Edu VIC WA NT Beginner', cursive;
}

.btt:hover {
  background-color: #fff;
  color: #212529;
}

.checked {
  color: orange;
}

.des {
  font-size: 2rem;
  margin-top: 5rem;
}

.des__head span {
  padding: 2rem;
  /* display: flex; */

}

.h1 {
  margin-right: 2,5rem;
}

hr {
  /* margin: 2rem; */
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: solid grey;
  border-width: 0.1rem;
}

.des__info {
  line-height: 3.5rem;
  font-size: 1.5rem;
  padding: 2rem 3rem;
  text-align: justify;
}
.footer{
  text-align: center;
  font-size: 2rem;
}
.link-bitc{
  color: green;
  text-decoration: none;
}